@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@600&family=Sora:wght@400;600;700&display=swap');

body {
	padding: 0;
	margin: 0;
	font-family: Sora;
	background-color: #1b1c21;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
  background-color: #13111a;
}

p {
	font-family: Montserrat;
}

h1 {
	font-size: 56px;
	font-weight: 700;
}

h2 {
	font-size: 40px;
	font-weight: 700;
}

h3 {
	font-size: 28px;
	font-weight: 600;
}

h4 {
	font-size: 26px;
	font-weight: 400;
}

h5 {
	font-size: 20px;
	font-weight: 400;
}

h6 {
	font-size: 18px;
	font-weight: 400;
}

ul {
	font-family: Poppins;
}
